<!-- Contenu de la formulaire retraite  -->
<div class="spacer"></div>
<div align="right" class="mb-3">
  <button mat-raised-button color="primary" routerLink="/listeretraite">Go to List Retraite </button>
</div>
<div>
    <h1 class>Ajouter une demande de retraite</h1>
  <form action="/submit-demande-retraite" method="post">
    <label for="agent">Id demande:</label>
    <input type="text" id="agent" name="agent" required><br><br>  
      <label for="agent">Matricule Agent:</label>
      <input type="text" id="agent" name="agent" required><br><br>

      <label for="agent">Code residence :</label>
      <input type="text" id="agent" name="agent" required><br><br>

      <label for="agent">Type retraite:</label>
      <input type="text" id="agent" name="agent" required><br><br>

      <label for="date_demande">Date de la demande:</label>
      <input type="date" id="date_demande" name="date_demande" required><br><br>

      <label for="date_demande">Date départ préversible:</label>
      <input type="date" id="date_demande" name="date_demande" required><br><br>

      <label for="motif">Motif de la demande:</label>
      <textarea id="motif" name="motif" rows="4" cols="50" required></textarea><br><br>

      <fieldset class="row mb-3">
        <legend class="col-form-label col-sm-2 pt-0">Status</legend>
        <div class="col-sm-10">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
            <label class="form-check-label" for="gridRadios1">
              Accepter
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
            <label class="form-check-label" for="gridRadios2">
              Réfuser
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
            <label class="form-check-label" for="gridRadios2">
              En attente
            </label>
          </div>
        </div>
      </fieldset>
  
      <input type="submit" value="Ajouter la demande">
  </form>
  </div>
